<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>T0: Naturezas</title>
</head>
<body>
    
    <div id="header-placeholder"></div>

    <main>
        
        <article>

            <!--SESSÃO TÍTULO-->
            <section>

                <h1>Natureza do Orvalho</h1>

                <img class="--tittle" src="../img/img_banner.jpg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime accusamus illo consequuntur. Optio, repudiandae cum, voluptatibus mollitia nulla cumque perferendis iste quis quidem, natus ratione! Amet nam dolorum in pariatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis quae soluta et illo iure cum odio corporis sit? Eius quis incidunt beatae. Sed vero explicabo eum sit, minima praesentium fugit!</p>

            </section>

            <!--DESCRIÇÃO DO ELEMENTO-->
            <section>

                <h2>Como é em Parzec</h2>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit iure mollitia porro. Sunt, omnis mollitia, harum numquam rem sapiente excepturi exercitationem quisquam vero fugit perspiciatis incidunt eligendi, quaerat nihil possimus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos cumque natus dolorum delectus accusantium repudiandae consectetur. Consequuntur veniam reiciendis, in quidem autem eveniet animi, harum cupiditate amet ad doloremque! Tenetur.</p>

                <h3>Facetas do Elemento</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet perferendis nostrum necessitatibus, neque possimus veritatis unde totam at. Praesentium ratione atque aperiam, dolores dolorum doloremque repudiandae nam soluta. Voluptates, consectetur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt earum eius commodi rerum, quaerat voluptate eligendi id ipsum vel dolorum laudantium voluptatibus atque aspernatur consequuntur hic quos eaque accusantium quo!</p>

                <h3>Usuários Famosos</h3>

                <div class="--cont_grade">

                    <div class="--item_grade">

                        <img class="--item_grade" src="../img/img_square.jpg" alt="">

                        <h4>título</h4>
                        <p><strong>lorem lorem lorem</strong></p>

                    </div>

                    <div class="--item_grade">

                        <img class="--item_grade" src="../img/img_square.jpg" alt="">

                        <h4>título</h4>
                        <p><strong>lorem lorem lorem</strong></p>

                    </div>

                    <div class="--item_grade">

                        <img class="--item_grade" src="../img/img_square.jpg" alt="">

                        <h4>título</h4>
                        <p><strong>lorem lorem lorem</strong></p>

                    </div>

                </div>

            </section>

            <!--LISTA DE TÉCNICAS-->
            <section style="
                border-top: 4px solid black;
                margin-top: 20px;"
            >

                <h2>Lista de Técnicas</h2>

                <div>
                    <h4>Nome da Técnica</h4>
                    <p><strong>Tipagem</strong>: dado</p>
                    <p><strong>Rastro</strong>: dado</p>
                    <p><strong>Conjuração</strong>: dado</p>
                    <p><strong>Erudição</strong>: dado</p>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia. Aliquid ab similique quae suscipit voluptates dignissimos sequi, recusandae dolorum repellat perferendis? Magnam necessitatibus earum, autem at ducimus nesciunt aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione saepe repellat ducimus voluptatibus quaerat tempore similique ea voluptates, cum laboriosam laborum quisquam sint sed. Architecto sequi magnam vitae laborum!</p>
                </div>

                <div>
                    <h4>Nome da Técnica</h4>
                    <p><strong>Tipagem</strong>: dado</p>
                    <p><strong>Rastro</strong>: dado</p>
                    <p><strong>Conjuração</strong>: dado</p>
                    <p><strong>Erudição</strong>: dado</p>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia. Aliquid ab similique quae suscipit voluptates dignissimos sequi, recusandae dolorum repellat perferendis? Magnam necessitatibus earum, autem at ducimus nesciunt aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione saepe repellat ducimus voluptatibus quaerat tempore similique ea voluptates, cum laboriosam laborum quisquam sint sed. Architecto sequi magnam vitae laborum!</p>
                </div>

                <div>
                    <h4>Nome da Técnica</h4>
                    <p><strong>Tipagem</strong>: dado</p>
                    <p><strong>Rastro</strong>: dado</p>
                    <p><strong>Conjuração</strong>: dado</p>
                    <p><strong>Erudição</strong>: dado</p>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia. Aliquid ab similique quae suscipit voluptates dignissimos sequi, recusandae dolorum repellat perferendis? Magnam necessitatibus earum, autem at ducimus nesciunt aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione saepe repellat ducimus voluptatibus quaerat tempore similique ea voluptates, cum laboriosam laborum quisquam sint sed. Architecto sequi magnam vitae laborum!</p>
                </div>

                <div>
                    <h4>Nome da Técnica</h4>
                    <p><strong>Tipagem</strong>: dado</p>
                    <p><strong>Rastro</strong>: dado</p>
                    <p><strong>Conjuração</strong>: dado</p>
                    <p><strong>Erudição</strong>: dado</p>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia. Aliquid ab similique quae suscipit voluptates dignissimos sequi, recusandae dolorum repellat perferendis? Magnam necessitatibus earum, autem at ducimus nesciunt aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione saepe repellat ducimus voluptatibus quaerat tempore similique ea voluptates, cum laboriosam laborum quisquam sint sed. Architecto sequi magnam vitae laborum!</p>
                </div>

                <div>
                    <h4>Nome da Técnica</h4>
                    <p><strong>Tipagem</strong>: dado</p>
                    <p><strong>Rastro</strong>: dado</p>
                    <p><strong>Conjuração</strong>: dado</p>
                    <p><strong>Erudição</strong>: dado</p>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia. Aliquid ab similique quae suscipit voluptates dignissimos sequi, recusandae dolorum repellat perferendis? Magnam necessitatibus earum, autem at ducimus nesciunt aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione saepe repellat ducimus voluptatibus quaerat tempore similique ea voluptates, cum laboriosam laborum quisquam sint sed. Architecto sequi magnam vitae laborum!</p>
                </div>

            </section>

            <!--ONDE SE ACHA?-->
            <section>

                <img class="--topic" src="../img/img_banner.jpg" alt="">

                <h2>Onde se Acha?</h2>
                
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, soluta labore molestiae exercitationem velit quod voluptas? Ratione tenetur non harum architecto? Maiores, unde necessitatibus soluta porro earum accusantium autem sit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores provident aliquam suscipit quibusdam minus eaque itaque reprehenderit voluptate doloremque vitae, libero pariatur ad corrupti nesciunt facere autem fugiat temporibus voluptatem!</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, soluta labore molestiae exercitationem velit quod voluptas? Ratione tenetur non harum architecto? Maiores, unde necessitatibus soluta porro earum accusantium autem sit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores provident aliquam suscipit quibusdam minus eaque itaque reprehenderit voluptate doloremque vitae, libero pariatur ad corrupti nesciunt facere autem fugiat temporibus voluptatem!</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, soluta labore molestiae exercitationem velit quod voluptas? Ratione tenetur non harum architecto? Maiores, unde necessitatibus soluta porro earum accusantium autem sit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores provident aliquam suscipit quibusdam minus eaque itaque reprehenderit voluptate doloremque vitae, libero pariatur ad corrupti nesciunt facere autem fugiat temporibus voluptatem!</p>

                <img class="--banner" src="../img/img_banner.jpg" alt="">

            </section>

        </article>
            
    </main>

    <script
    
        src="../JS/script.js">
        
    </script>

</body>
</html>