<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>T1: Lore pra Redirecionar</title>
</head>
<body>
    
    <div id="header-placeholder"></div>

    <main>

        <!--SESSÃO DE TÍTULO-->
        <section>
            <h1>Título da página</h1>

            <img class="--tittle" src="../img/img_banner.jpg" alt="">
            
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias illum similique fugiat minus debitis iure explicabo error saepe delectus voluptatibus, officiis excepturi in quaerat. Nobis dolor perspiciatis libero autem velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates consequatur rem eveniet cumque obcaecati atque officia nesciunt eligendi, error enim incidunt magnam libero sit ea sint, neque autem tempore corrupti.</p>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias illum similique fugiat minus debitis iure explicabo error saepe delectus voluptatibus, officiis excepturi in quaerat. Nobis dolor perspiciatis libero autem velit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates consequatur rem eveniet cumque obcaecati atque officia nesciunt eligendi, error enim incidunt magnam libero sit ea sint, neque autem tempore corrupti.</p>

        </section>

        <!--TÓPICOS ALTERNADOS-->
        <section>

            <div class="--cont_altern_queen">

                <div class="--cont_altern_img">
                    <img class="--cont_altern" src="../img/img_square.jpg" alt="">
                </div>

                <div class="--cont_altern_text">
                    <h4 class="--cont_altern">título</h4>
                    <p class="--cont_altern">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, voluptatibus inventore molestiae natus nisi quis molestias ad explicabo numquam nulla odit ipsa aspernatur necessitatibus. Ea reiciendis ratione ad ut asperiores?</p>
                </div>

            </div> 

            <div class="--cont_altern_queen">


                <div class="--cont_altern_text">
                    <h4 class="--cont_altern">título</h4>
                    <p class="--cont_altern">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, voluptatibus inventore molestiae natus nisi quis molestias ad explicabo numquam nulla odit ipsa aspernatur necessitatibus. Ea reiciendis ratione ad ut asperiores?</p>
                </div>

                <div class="--cont_altern_img">
                    <img class="--cont_altern" src="../img/img_square.jpg" alt="">
                </div>

            </div>

            <div class="--cont_altern_queen">

                <div class="--cont_altern_img">
                    <img class="--cont_altern" src="../img/img_square.jpg" alt="">
                </div>

                <div class="--cont_altern_text">
                    <h4 class="--cont_altern">título</h4>
                    <p class="--cont_altern">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, voluptatibus inventore molestiae natus nisi quis molestias ad explicabo numquam nulla odit ipsa aspernatur necessitatibus. Ea reiciendis ratione ad ut asperiores?</p>
                </div>

            </div> 

            <div class="--cont_altern_queen">


                <div class="--cont_altern_text">
                    <h4 class="--cont_altern">título</h4>
                    <p class="--cont_altern">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, voluptatibus inventore molestiae natus nisi quis molestias ad explicabo numquam nulla odit ipsa aspernatur necessitatibus. Ea reiciendis ratione ad ut asperiores?</p>
                </div>

                <div class="--cont_altern_img">
                    <img class="--cont_altern" src="../img/img_square.jpg" alt="">
                </div>

            </div>

        </section>

    </main>

    <script
    
        src="../JS/script.js">
        
    </script>
    
</body>
</html>