<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>T2: Explicação de Pontos</title>
</head>
<body>
    
    <div id="header-placeholder"></div>

    <main>

        <article>

            <!--SESSÃO TÍTULO-->
            <section>
                <h1>Título</h1>

                <img class="--tittle" src="../img/img_banner.jpg" alt="">

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut in, sit mollitia quaerat pariatur deserunt quam sapiente excepturi. Tempora hic quaerat rem eligendi cum aliquam porro dicta enim illum eius! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit, neque aspernatur ducimus labore, modi tenetur repellat unde corrupti sed quod porro ut aut. Suscipit quibusdam reiciendis unde beatae fuga.</p>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut in, sit mollitia quaerat pariatur deserunt quam sapiente excepturi. Tempora hic quaerat rem eligendi cum aliquam porro dicta enim illum eius! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit, neque aspernatur ducimus labore, modi tenetur repellat unde corrupti sed quod porro ut aut. Suscipit quibusdam reiciendis unde beatae fuga.</p>
            </section>

            <!--REPETIÇÃO-->
            <section>

                <img class="--topic" src="../img/img_banner.jpg" alt="">

                <h2>Tópico de entrada</h2>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corporis sunt laboriosam ipsum. Inventore omnis reiciendis laboriosam voluptatum adipisci consectetur maxime illo corporis. Quos nobis asperiores quas illum quasi ullam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellendus perferendis cumque amet repellat alias dolorem porro ad nihil cum molestias veritatis, quibusdam rerum magnam sapiente quo itaque quasi blanditiis!</p>

                <div
                style="
                    margin: auto;
                    width: 740px;
                "
                >
                    <img class="insertext" src="../img/img_alta.jpg" alt="">
                </div>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corporis sunt laboriosam ipsum. Inventore omnis reiciendis laboriosam voluptatum adipisci consectetur maxime illo corporis. Quos nobis asperiores quas illum quasi ullam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellendus perferendis cumque amet repellat alias dolorem porro ad nihil cum molestias veritatis, quibusdam rerum magnam sapiente quo itaque quasi blanditiis!</p>
                

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt corporis sunt laboriosam ipsum. Inventore omnis reiciendis laboriosam voluptatum adipisci consectetur maxime illo corporis. Quos nobis asperiores quas illum quasi ullam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellendus perferendis cumque amet repellat alias dolorem porro ad nihil cum molestias veritatis, quibusdam rerum magnam sapiente quo itaque quasi blanditiis!</p>
            </section>
        
        </article>
    </main>

    <script
    
        src="../JS/script.js">
        
    </script>

</body>
</html>