<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>T3: Lista de Categoria</title>

</head>
<body>

    <div id="header-placeholder"></div>
    
    <main>
        <article>
            <section>
                <h1>Título</h1>
                <img class="--tittle" src="../img/img_banner.jpg" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut in, sit mollitia quaerat pariatur deserunt quam sapiente excepturi. Tempora hic quaerat rem eligendi cum aliquam porro dicta enim illum eius! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit, neque aspernatur ducimus labore, modi tenetur repellat unde corrupti sed quod porro ut aut. Suscipit quibusdam reiciendis unde beatae fuga.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut in, sit mollitia quaerat pariatur deserunt quam sapiente excepturi. Tempora hic quaerat rem eligendi cum aliquam porro dicta enim illum eius! Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel reprehenderit, neque aspernatur ducimus labore, modi tenetur repellat unde corrupti sed quod porro ut aut. Suscipit quibusdam reiciendis unde beatae fuga.</p>
            </section>
            <!--Repetição-->
            <section>
                <p>A depender do conteúdo ele pode variar de forma, como os diferentes tipos de imagens ou o uso de listas e tabelas além dos parágrafos. É o famoso se vira.</p>
            </section>
        </article>
    </main>

    <script
    
        src="../JS/script.js">
        
    </script>

</body>
</html>