<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>TA: Receita</title>
</head>
<body>
    
    <div id="header-placeholder"></div>

    <main>
        <article>
            
            <!--SESSÃO TÍTULO-->
            <section>

                <h1>Título da Receita</h1>

                <img class="--tittle" src="../img/img_banner.jpg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro in illum non molestiae quasi dolorem quidem modi eligendi iste atque veritatis numquam corrupti distinctio, iusto accusamus molestias quae quod laboriosam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, voluptatibus minima? Blanditiis saepe in quas id commodi, aspernatur, nulla aliquam laborum deleniti laboriosam temporibus consequuntur dolores est odio ipsum architecto?</p>

            </section>

            <!--SOBRE O BAGULHO-->
            <section>

                <h2>Sobre o (insira aqui)</h2>

                <!--Descrição-->
                <div>
                    <h3>Descrição</h3>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet consectetur minus neque iusto eaque iure veniam saepe sint dignissimos fuga magnam voluptatibus, fugiat, repellat est? Sequi atque fugiat sit doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusantium a ipsam? Veritatis odio iste incidunt dolore recusandae, rem magni voluptatem a ut accusantium, sit in labore neque qui quae!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt vel et quisquam exercitationem impedit commodi nulla, illum alias? Nemo, deleniti quia. Consequuntur ipsum, incidunt maiores at fuga soluta iste vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, harum inventore corrupti molestiae asperiores minus amet ullam officia temporibus exercitationem aliquid eligendi nulla, unde expedita pariatur tenetur at similique ab?</p>
                </div>

                <img class="--topic" src="../img/img_banner.jpg" alt="">

                <!--Registros de Uso-->
                <div>
                    <h3>Registros de Uso</h3>

                    <ul class="--parag">
                        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus rem nisi incidunt quam pariatur ducimus molestiae nam iste optio quidem non excepturi ullam eaque nulla temporibus nihil, a voluptatem repellat.</li>
                        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis doloribus dolore iste debitis voluptates rem aspernatur laudantium iusto? Sunt exercitationem dolore quam enim tempora doloremque cum beatae! Optio, consectetur tenetur!</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, illum consectetur fugiat consequatur saepe corporis ad dicta inventore minus magnam quasi eum, veniam quis deserunt velit optio quia maxime non?</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio necessitatibus error neque, consectetur aperiam nihil dicta aut consequatur voluptates adipisci fugit officiis soluta eos maiores debitis! Molestiae eum quis fugit!</li>
                    </ul>
                </div>

                <!--Tabela de Saber-->
                <div>

                    <h3>Tabela de Saber</h3>

                    <table>

                        <tr>
                            <th>Conhecimentos</th> <td><strong>info</strong></td>
                        </tr>

                        <tr>
                            <th>Tipagem</th> <td><strong>info</strong></td>
                        </tr>

                        <tr>
                            <th>Agência</th> <td><strong>info</strong></td>
                        </tr>

                        <tr>
                            <th>Encantos</th> <td><strong>info</strong></td>
                        </tr>

                    </table>

                </div>

            </section>

            <!--FAZENDO A RECEITA-->
            <section>

                <img class="--topic" src="../img/img_banner.jpg" alt="">

                <h2>Criando (insira aqui)</h2>

                <!--Tempo de Preparo-->
                <div>

                    <h3>Tempo de Preparo</h3>

                    <ul class="--parag">
                        <li>Tempo total:</li>
                        <li>Tempo tal</li>
                        <li>Tempo tal</li>
                        <li>Tempo tal</li>
                    </ul>

                    <p>Obs: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quas hic nobis officia ab necessitatibus debitis sit maiores</p>

                </div>

                <!--Ingredientes-->
                <section class="--quadro">

                    <div>

                        <h3>Ingredientes</h3>
    
                        <ul class="--parag">
                            <li>Ingrediente tal</li>
                            <li>tal tal</li>
                            <li>tal tal</li>
                            <li>tal tal</li>
                        </ul>
    
                        <p>Obs: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quas hic nobis officia ab necessitatibus debitis sit maiores</p>
    
                    </div>

                </section>

                <!--Instruções-->
                
                <section>
                    <h3>Instruções</h3>
                        <ol class="--parag">
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quas hic nobis officia ab necessitatibus debitis sit maiores</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quas hic nobis officia ab necessitatibus debitis sit maiores</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quas hic nobis officia ab necessitatibus debitis sit maiores</li>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis quas hic nobis officia ab necessitatibus debitis sit maiores</li>
                        </ol>
                </section>
                
            </section>
            
        </article>
    </main>

    <script
    
        src="../JS/script.js">
        
    </script>

</body>
</html>