<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>TB: Lugares</title>
</head>
<body>

    <div id="header-placeholder"></div>

    <main>
        <article>

            <!--SESSÃO TÍTULO-->
            <section>

                <h1>Lugar</h1>

                <div class="img-insert">
                    <img class="insert-in-text-middle" src="../img/img_alta.jpg" alt="">
                </div>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore sunt saepe officia possimus quis tempore qui impedit autem quasi quod! Ratione ex dicta necessitatibus dolorum laudantium officiis excepturi soluta repudiandae? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate doloribus ad, rem tempora officia ut, eveniet consectetur dolores laudantium temporibus incidunt cumque cum, maxime rerum maiores aspernatur id? Omnis, soluta?</p>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore sunt saepe officia possimus quis tempore qui impedit autem quasi quod! Ratione ex dicta necessitatibus dolorum laudantium officiis excepturi soluta repudiandae? Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore sunt saepe officia possimus quis tempore qui impedit autem quasi quod! Ratione ex dicta necessitatibus dolorum laudantium officiis excepturi soluta repudiandae? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate doloribus ad, rem tempora officia ut, eveniet consectetur dolores laudantium temporibus incidunt cumque cum, maxime rerum maiores aspernatur id? Omnis, soluta?</p>

                

            </section>

            <!--ECOSSISTEMA-->

            <section>

                <h2>Ecossistema</h2>

                <img class="--topic" src="../img/img_banner.jpg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

            </section>

            <!--OCUPAÇÃO-->

            <section>

                <h2>Ocupação</h2>

                <img class="--topic" src="../img/img_banner.jpg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

            </section>

            <!--CONTEÚDO-->

            <section>

                <h2>Conteúdo</h2>

                <img class="--topic" src="../img/img_banner.jpg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

            </section>

            <!--ATIVIDADES-->

            <section>

                <h2>Atividades</h2>

                <img class="--topic" src="../img/img_banner.jpg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid nemo, vel impedit debitis praesentium labore facere libero quos provident tempore atque odit perspiciatis, omnis autem delectus qui. Soluta, velit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi vero adipisci atque, deleniti in natus excepturi quis provident iure corrupti et modi dolorum sit dignissimos cum, eligendi culpa optio unde?</p>

            </section>

            <!--HISTÓRIA-->

            <section>

                <h2>História</h2>

                <h3>título topic</h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum debitis maxime animi atque sit, perferendis ipsum ratione dolorem odit voluptatem adipisci nulla et ipsam numquam quo aperiam laborum? Fugiat, fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione assumenda soluta ut, qui voluptate dicta, laboriosam repellat nobis magni, sint perspiciatis consequatur. A deleniti aut, laborum vel sit perferendis eum!</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime vero repudiandae quisquam tempore culpa, corrupti quae explicabo sunt! Tenetur quam pariatur quas architecto natus illo nihil voluptates sit ab dolor! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis voluptates ipsam error dolorum animi. Debitis necessitatibus quidem quo repellendus atque ea. Officiis quibusdam dolores ad? Voluptate eum temporibus minus blanditiis?</p>

                <div class="--cont_altern_queen">

                    <div class="--cont_altern_img">
                        <img class="--cont_altern" src="../img/img_square.jpg" alt="">
                    </div>

                    <div class="--cont_altern_text">
                        <h4 class="--cont_altern">título</h4>
                        <p class="--cont_altern">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, voluptatibus inventore molestiae natus nisi quis molestias ad explicabo numquam nulla odit ipsa aspernatur necessitatibus. Ea reiciendis ratione ad ut asperiores?</p>
                    </div>

                </div> 

                <div class="--cont_altern_queen">

                    <div class="--cont_altern_text">
                        <h4 class="--cont_altern">título</h4>
                        <p class="--cont_altern">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, voluptatibus inventore molestiae natus nisi quis molestias ad explicabo numquam nulla odit ipsa aspernatur necessitatibus. Ea reiciendis ratione ad ut asperiores?</p>
                    </div>

                    <div class="--cont_altern_img">
                        <img class="--cont_altern" src="../img/img_square.jpg" alt="">
                    </div>

                </div> 

                <div class="--cont_altern_queen">

                    <div class="--cont_altern_img">
                        <img class="--cont_altern" src="../img/img_square.jpg" alt="">
                    </div>

                    <div class="--cont_altern_text">
                        <h4 class="--cont_altern">título</h4>
                        <p class="--cont_altern">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, voluptatibus inventore molestiae natus nisi quis molestias ad explicabo numquam nulla odit ipsa aspernatur necessitatibus. Ea reiciendis ratione ad ut asperiores?</p>
                    </div>

                </div> 

            </section>

        </article>
    </main>
    
    <script
    
        src="../JS/script.js">
        
    </script>
    
</body>
</html>