<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>

    <title>Document</title>
</head>
<body>
    
    <div id="header-placeholder"></div>

     <main>
         <article>
            <!--Nome e Descrição-->
            <section>
                <h1>Nome da Organização</h1>
                <img src="../img/img_banner.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam asperiores repellendus culpa inventore animi nihil. Ut porro sequi vel dolor blanditiis dicta et perspiciatis nesciunt? Molestiae eligendi illo aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit laboriosam beatae repellendus eaque molestias unde placeat dolore maxime quasi voluptatibus. Beatae neque, quia amet dolorum doloribus temporibus aspernatur quidem provident.</p>
            </section>
            <!--Identidade-->
            <section>
                <h2>Identidade</h2>
                <!--Aparência-->
                <div>
                    <h3>Aparência</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla pariatur nostrum autem, molestias et obcaecati iure, vero eius odio nesciunt facilis itaque provident fuga inventore beatae impedit rerum ipsam repellat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui dolore sunt officiis, sint eaque ducimus dolor, facere praesentium quod, similique beatae non voluptas architecto consequuntur iusto nam ab atque quasi.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla pariatur nostrum autem, molestias et obcaecati iure, vero eius odio nesciunt facilis itaque provident fuga inventore beatae impedit rerum ipsam repellat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui dolore sunt officiis, sint eaque ducimus dolor, facere praesentium quod, similique beatae non voluptas architecto consequuntur iusto nam ab atque quasi.</p>
                 </div>
                 <!--Filosofia e Motivações-->
                 <div>
                    <h3>Filosofia e Motivações</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla pariatur nostrum autem, molestias et obcaecati iure, vero eius odio nesciunt facilis itaque provident fuga inventore beatae impedit rerum ipsam repellat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui dolore sunt officiis, sint eaque ducimus dolor, facere praesentium quod, similique beatae non voluptas architecto consequuntur iusto nam ab atque quasi.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla pariatur nostrum autem, molestias et obcaecati iure, vero eius odio nesciunt facilis itaque provident fuga inventore beatae impedit rerum ipsam repellat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui dolore sunt officiis, sint eaque ducimus dolor, facere praesentium quod, similique beatae non voluptas architecto consequuntur iusto nam ab atque quasi.</p>
                 </div>
                 <!--Objetivos e Métoodos-->
                 <div>
                    <h3>Objetivos e Metodologia</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas saepe aspernatur maxime fugit facilis, quos dolore, veritatis officiis voluptas, officia necessitatibus. Quas commodi vel laboriosam deleniti magni maiores illum est?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident impedit porro, fuga voluptate asperiores in inventore dolorum laudantium voluptatum. Laborum doloribus autem unde sequi voluptatem debitis nulla iure atque. Recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit rerum possimus illum ad! Corporis repellendus perspiciatis voluptates ullam incidunt quibusdam fugiat? Quo nemo animi vero porro praesentium tempora aliquid voluptates!</p>
                 </div>
                 <!--Projetos e Tarefas-->
                 <div>
                    <h3>Projetos e Tarefas</h3>
                    <p><span>bbllala</span></p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum voluptatibus repellendus dolore, facilis aliquam veritatis repudiandae vero quod excepturi ea explicabo quaerat nesciunt pariatur voluptatum? Debitis exercitationem soluta laborum expedita.</p>
                    <p><span>bbllala</span></p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum voluptatibus repellendus dolore, facilis aliquam veritatis repudiandae vero quod excepturi ea explicabo quaerat nesciunt pariatur voluptatum? Debitis exercitationem soluta laborum expedita.</p>
                    <p><span>bbllala</span></p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum voluptatibus repellendus dolore, facilis aliquam veritatis repudiandae vero quod excepturi ea explicabo quaerat nesciunt pariatur voluptatum? Debitis exercitationem soluta laborum expedita.</p>
                 </div>
            </section>
            <!--Infraestrutura-->
            <section>
                <h2>Infraestrutura</h2>
                <!--Membros-->
                <div>
                    <h3>Membros</h3>
                    <!--Regulares-->
                    <div>
                        <h4>Regulares</h4>
                        <ul>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                        </ul>
                    </div>
                    <!--Associados-->
                    <div>
                        <h4>Associados</h4>
                        <ul>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                        </ul>
                    </div>
                    <!--Ex-Membros-->
                    <div>
                        <h4>Ex-Membros</h4>
                        <ul>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                            <li>
                                <p><strong><a href="">
                                    nome do personagem
                                </a></strong></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Hierarquia e Divisões-->
                <div>
                    <h3>Hierarquia</h3>
                    <ul>
                        <li>
                            <p>pantente</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime.</p>
                        </li>
                        <li>
                            <p>pantente</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime.</p>
                        </li>
                        <li>
                            <p>pantente</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime.</p>
                        </li>
                    </ul>
                    <h3>Divisões</h3>
                    <ul>
                        <li>
                            <p>pantente</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime.</p>
                        </li>
                        <li>
                            <p>pantente</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime.</p>
                        </li>
                        <li>
                            <p>pantente</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime.</p>
                        </li>
                    </ul>
                </div>
                <!--Sedes e Filiais-->
                <div>
                    <h3>Sedes e Filiais</h3>
                    <ul>
                        <li>
                            <p>base</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, animi illum! Laborum cupiditate quae expedita numquam optio vero neque velit at veniam deleniti non dignissimos aliquam inventore, culpa vitae magni.</p>
                        </li>
                        <li>
                            <p>base</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, animi illum! Laborum cupiditate quae expedita numquam optio vero neque velit at veniam deleniti non dignissimos aliquam inventore, culpa vitae magni.</p>
                        </li>
                        <li>
                            <p>base</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo ullam est sint nobis deserunt temporibus ratione possimus quod commodi! Tenetur ex, aliquam provident quos placeat totam nulla cumque ut maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, animi illum! Laborum cupiditate quae expedita numquam optio vero neque velit at veniam deleniti non dignissimos aliquam inventore, culpa vitae magni.</p>
                        </li>
                    </ul>
                </div>
                <!--Recursos e Meios-->
                <div>
                    <h3>Recursos</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, iusto eveniet blanditiis hic delectus, quidem vel harum ipsa autem aut impedit consequuntur saepe nulla esse? A omnis reiciendis laborum expedita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis explicabo nulla dolorum aut obcaecati harum, quibusdam qui laboriosam unde optio adipisci quos natus nisi nihil accusamus dolore, ullam vitae distinctio!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, iusto eveniet blanditiis hic delectus, quidem vel harum ipsa autem aut impedit consequuntur saepe nulla esse? A omnis reiciendis laborum expedita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis explicabo nulla dolorum aut obcaecati harum, quibusdam qui laboriosam unde optio adipisci quos natus nisi nihil accusamus dolore, ullam vitae distinctio!</p>
                </div>
            </section>
            <!--Relações Externas-->
            <section>
                <h2>Relações Externas</h2>
                <ul>
                    <li>
                        <p>coisa tal</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis laboriosam soluta quaerat cum expedita unde fuga voluptates! Hic molestias deserunt, maxime minima reiciendis odio nisi sequi nihil doloremque iusto. Perferendis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate nulla amet excepturi consectetur quibusdam assumenda. Quos ex, sit tempore ipsa, dolor omnis unde expedita, et nemo beatae deleniti esse reprehenderit.</p>
                    </li>
                    <li>
                        <p>coisa tal</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis laboriosam soluta quaerat cum expedita unde fuga voluptates! Hic molestias deserunt, maxime minima reiciendis odio nisi sequi nihil doloremque iusto. Perferendis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate nulla amet excepturi consectetur quibusdam assumenda. Quos ex, sit tempore ipsa, dolor omnis unde expedita, et nemo beatae deleniti esse reprehenderit.</p>
                    </li>
                </ul>
            </section>
            <!--História-->
            <section>
                <h2>História</h2>
                <!--Fundações-->
                <div>
                    <h3>Fundações</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dolores voluptas ipsa at delectus quidem ex explicabo? Autem distinctio blanditiis iure voluptatum, libero quis similique vitae nulla eligendi porro possimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos, facere earum placeat cum pariatur commodi consectetur et ea nam cupiditate quia exercitationem eveniet illo dolores adipisci explicabo a voluptate?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur dolores voluptas ipsa at delectus quidem ex explicabo? Autem distinctio blanditiis iure voluptatum, libero quis similique vitae nulla eligendi porro possimus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque eos, facere earum placeat cum pariatur commodi consectetur et ea nam cupiditate quia exercitationem eveniet illo dolores adipisci explicabo a voluptate?</p>
                </div>
                <!--Evolução e Eventos-->
                <div>
         
                    <h3>Evolução e Eventos</h3>
                    <ul>
                        <li>
                            <p><span>nome do evento</span></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia soluta quo eligendi vero blanditiis sequi minus aut, sunt reprehenderit cupiditate voluptate? Cumque totam rem officiis eaque, debitis qui ad dignissimos!</p>
                        </li>
                        <li>
                            <p><span>nome do evento</span></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia soluta quo eligendi vero blanditiis sequi minus aut, sunt reprehenderit cupiditate voluptate? Cumque totam rem officiis eaque, debitis qui ad dignissimos!</p>
                        </li>
                        <li>
                            <p><span>nome do evento</span></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia soluta quo eligendi vero blanditiis sequi minus aut, sunt reprehenderit cupiditate voluptate? Cumque totam rem officiis eaque, debitis qui ad dignissimos!</p>
                        </li>
                    </ul>
                </div>
                <!--Presente e Objetivos-->
                <div>
                    <h3>Data Presente</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dolorum, a labore velit eligendi mollitia sint explicabo eum temporibus officia veritatis voluptates voluptas omnis. Omnis quisquam distinctio architecto deserunt quibusdam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nemo veniam consequatur harum dignissimos. Doloribus harum hic repudiandae illo, cum autem ducimus culpa sequi explicabo ipsa esse dolores accusantium. Dolores.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptate labore nostrum commodi sapiente id blanditiis? Rem numquam est dicta iste dolorem odit laboriosam ullam impedit ab. Maxime, quas nobis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum corrupti minima veritatis? Sint nostrum perferendis eligendi minus non eaque numquam velit, recusandae dignissimos, ea maxime error est labore quaerat dolorum?</p>
                </div>
            </section>
         </article>
     </main>

     <script
    
        src="../JS/script.js">
        
    </script>

</body>
</html>