<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>Document</title>
</head>
<body>

    <div id="header-placeholder"></div>
    
    <main>
        <article>
        
            <!--Apresentação-->
            <section>
                <h1>Nome do Arquétipo</h1>
                <img src="../img/img_banner.jpg" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga ullam reiciendis omnis veritatis facere unde, nihil consequuntur eum temporibus quam accusamus inventore aut! Culpa provident suscipit explicabo, quis nisi ut?</p>
            </section>
            <!--Descrição-->
            <section>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora provident consequatur facere nihil, quam excepturi, quod inventore eos aliquid iste aliquam rerum corporis earum sapiente repudiandae. Dolore, eveniet facilis. A? Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus est amet mollitia placeat velit nesciunt itaque possimus culpa exercitationem, eos expedita ab minima! Commodi quo necessitatibus molestias architecto perferendis ex.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum cumque eos beatae aspernatur, ab dolorum impedit consequatur obcaecati praesentium fuga placeat repellendus et numquam nemo animi quam libero eaque? Quae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, quis eveniet ipsam incidunt deserunt sed, quam nobis tempore voluptas voluptatum aliquid asperiores ex totam id dolor distinctio quod non quasi!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum cumque eos beatae aspernatur, ab dolorum impedit consequatur obcaecati praesentium fuga placeat repellendus et numquam nemo animi quam libero eaque? Quae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, quis eveniet ipsam incidunt deserunt sed, quam nobis tempore voluptas voluptatum aliquid asperiores ex totam id dolor distinctio quod non quasi!</p>
                <span>Exemplos Famosos:</span>
                <ul>
                    <li><a href="">personagem tal</a></li>
                    <li><a href="">personagem tal</a></li>
                    <li><a href="">personagem tal</a></li>
                </ul>
            </section>
            <!--Trilhas-->
            <section>
                <h2>Trilhas</h2>
                    <h3>nome tal</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut error obcaecati delectus sequi, illo nisi eum consequatur laudantium eligendi vel fugiat numquam maiores officiis quo suscipit! Libero, in dicta. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus cupiditate earum sapiente odio sequi, dolorem voluptate reiciendis atque iusto nostrum. Doloremque vero animi accusantium unde reprehenderit aliquid rerum odio voluptas!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut error obcaecati delectus sequi, illo nisi eum consequatur laudantium eligendi vel fugiat numquam maiores officiis quo suscipit! Libero, in dicta. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus cupiditate earum sapiente odio sequi, dolorem voluptate reiciendis atque iusto nostrum. Doloremque vero animi accusantium unde reprehenderit aliquid rerum odio voluptas!</p>
                    <h3>nome tal</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut error obcaecati delectus sequi, illo nisi eum consequatur laudantium eligendi vel fugiat numquam maiores officiis quo suscipit! Libero, in dicta. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus cupiditate earum sapiente odio sequi, dolorem voluptate reiciendis atque iusto nostrum. Doloremque vero animi accusantium unde reprehenderit aliquid rerum odio voluptas!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut error obcaecati delectus sequi, illo nisi eum consequatur laudantium eligendi vel fugiat numquam maiores officiis quo suscipit! Libero, in dicta. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus cupiditate earum sapiente odio sequi, dolorem voluptate reiciendis atque iusto nostrum. Doloremque vero animi accusantium unde reprehenderit aliquid rerum odio voluptas!</p>
                    <h3>nome tal</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut error obcaecati delectus sequi, illo nisi eum consequatur laudantium eligendi vel fugiat numquam maiores officiis quo suscipit! Libero, in dicta. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus cupiditate earum sapiente odio sequi, dolorem voluptate reiciendis atque iusto nostrum. Doloremque vero animi accusantium unde reprehenderit aliquid rerum odio voluptas!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ut error obcaecati delectus sequi, illo nisi eum consequatur laudantium eligendi vel fugiat numquam maiores officiis quo suscipit! Libero, in dicta. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus cupiditate earum sapiente odio sequi, dolorem voluptate reiciendis atque iusto nostrum. Doloremque vero animi accusantium unde reprehenderit aliquid rerum odio voluptas!</p>
            </section>
            <!--Técnicas-->
            <section>
                <h2>Técnicas</h2>
                <ul>
                    <li>
                        <p><span>nome</span></p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint aliquam dolorum placeat similique quasi quisquam mollitia, repellendus iste, omnis, nulla quae error nisi modi asperiores recusandae! Facere dolores perferendis nostrum?</p>
                    </li>
                    <li>
                        <p><span>nome</span></p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint aliquam dolorum placeat similique quasi quisquam mollitia, repellendus iste, omnis, nulla quae error nisi modi asperiores recusandae! Facere dolores perferendis nostrum?</p>
                    </li>
                    <li>
                        <p><span>nome</span></p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint aliquam dolorum placeat similique quasi quisquam mollitia, repellendus iste, omnis, nulla quae error nisi modi asperiores recusandae! Facere dolores perferendis nostrum?</p>
                    </li>
                </ul>
        
            </section>
        
        </article>
    </main>

    <script
    
        src="../JS/script.js">
        
    </script>

</body>
</html>