<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>Document</title>
</head>
<body>
    
    <div id="header-placeholder"></div>

    <article>

        <!--Apresentação-->

        <section>
            <h1>Nome da Espécie tal</h1>

            <img src="../img/img_banner.jpg" alt="">
    
            <p>introdução Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae pariatur ratione natus facilis at sint non sit minima nobis dolores voluptates error, quia eveniet rerum ea. Natus voluptatibus commodi cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus animi minus, doloremque a rerum explicabo deserunt quae eligendi magni illum tempore, molestias cum maxime, corporis facilis. Perferendis, itaque enim! Veniam.</p>
        </section>

        <!--Características-->

        <section>

            <h2>Características</h2>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe officiis, obcaecati cum eaque numquam id ut commodi dolorem libero dolorum ab ducimus enim animi quasi, earum odio aut, corrupti temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, architecto aut. Iste quasi provident, eum quaerat quo tempore minus cum ad possimus, quisquam nisi laborum nihil beatae magnam dicta officiis.</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe officiis, obcaecati cum eaque numquam id ut commodi dolorem libero dolorum ab ducimus enim animi quasi, earum odio aut, corrupti temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, architecto aut. Iste quasi provident, eum quaerat quo tempore minus cum ad possimus, quisquam nisi laborum nihil beatae magnam dicta officiis.</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe officiis, obcaecati cum eaque numquam id ut commodi dolorem libero dolorum ab ducimus enim animi quasi, earum odio aut, corrupti temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, architecto aut. Iste quasi provident, eum quaerat quo tempore minus cum ad possimus, quisquam nisi laborum nihil beatae magnam dicta officiis.</p>
        </section>

        <!--Terra Natal-->

        <section>

            <h2>Terra Natal</h2>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe officiis, obcaecati cum eaque numquam id ut commodi dolorem libero dolorum ab ducimus enim animi quasi, earum odio aut, corrupti temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, architecto aut. Iste quasi provident, eum quaerat quo tempore minus cum ad possimus, quisquam nisi laborum nihil beatae magnam dicta officiis.</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe officiis, obcaecati cum eaque numquam id ut commodi dolorem libero dolorum ab ducimus enim animi quasi, earum odio aut, corrupti temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, architecto aut. Iste quasi provident, eum quaerat quo tempore minus cum ad possimus, quisquam nisi laborum nihil beatae magnam dicta officiis.</p>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe officiis, obcaecati cum eaque numquam id ut commodi dolorem libero dolorum ab ducimus enim animi quasi, earum odio aut, corrupti temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, architecto aut. Iste quasi provident, eum quaerat quo tempore minus cum ad possimus, quisquam nisi laborum nihil beatae magnam dicta officiis.</p>
        </section>

        <!--Sociedades e História-->

        <section>

            <h2>Sociedades</h2>

            <div>

                <h3>Sociedade tal</h3>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dolore nemo accusantium molestias tempore est et quod numquam illo facere sed aliquid repudiandae dolorum pariatur, expedita, magni quia accusamus quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam in ducimus ad dignissimos cum eligendi dolor repellendus. Alias dignissimos quaerat atque, quo voluptatibus reiciendis dolorem odio quis autem soluta corrupti?</p>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dolore nemo accusantium molestias tempore est et quod numquam illo facere sed aliquid repudiandae dolorum pariatur, expedita, magni quia accusamus quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam in ducimus ad dignissimos cum eligendi dolor repellendus. Alias dignissimos quaerat atque, quo voluptatibus reiciendis dolorem odio quis autem soluta corrupti?</p>

            </div>

            <div>

                <h3>Sociedade tal</h3>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dolore nemo accusantium molestias tempore est et quod numquam illo facere sed aliquid repudiandae dolorum pariatur, expedita, magni quia accusamus quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam in ducimus ad dignissimos cum eligendi dolor repellendus. Alias dignissimos quaerat atque, quo voluptatibus reiciendis dolorem odio quis autem soluta corrupti?</p>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dolore nemo accusantium molestias tempore est et quod numquam illo facere sed aliquid repudiandae dolorum pariatur, expedita, magni quia accusamus quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam in ducimus ad dignissimos cum eligendi dolor repellendus. Alias dignissimos quaerat atque, quo voluptatibus reiciendis dolorem odio quis autem soluta corrupti?</p>

            </div>

            <div>

                <h3>Sociedade tal</h3>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dolore nemo accusantium molestias tempore est et quod numquam illo facere sed aliquid repudiandae dolorum pariatur, expedita, magni quia accusamus quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam in ducimus ad dignissimos cum eligendi dolor repellendus. Alias dignissimos quaerat atque, quo voluptatibus reiciendis dolorem odio quis autem soluta corrupti?</p>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, dolore nemo accusantium molestias tempore est et quod numquam illo facere sed aliquid repudiandae dolorum pariatur, expedita, magni quia accusamus quae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam in ducimus ad dignissimos cum eligendi dolor repellendus. Alias dignissimos quaerat atque, quo voluptatibus reiciendis dolorem odio quis autem soluta corrupti?</p>

            </div>

        </section>

    </article>

    <script
    
        src="../JS/script.js">
        
    </script>

</body>
</html>