<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../CSS/model.css">
    <link rel="stylesheet" href="../CSS/flex.css">
    <link rel="stylesheet" href="../CSS/header.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Salsa&display=swap');
    </style>
    
    <title>Document</title>
</head>
<body>

    <div id="header-placeholder"></div>

    <article>

        <!--Seção inicial-->

        <section>

            <h1>
                <p>Nome do Personagem</p>
                <p><span>Título do Personagem</span></p>
            </h1>

            <!--Flex da imagem e da Tabela-->

            <div>
                <div>
                    <img src="../img/img_alta.jpg" alt="">
                </div>

                <div>
                    <table>
                        <tr>
                            <th>Idade</th>
                            <td>#</td>
                        </tr>
                        <tr>
                            <th>Peso e Altura</th>
                            <td>1,75m e 60kg</td>
                        </tr>
                        <tr>
                            <th>Gênero</th>
                            <td>dado</td>
                        </tr>
                        <tr>
                            <th>Terra Natal</th>
                            <td>dado</td>
                        </tr>

                        <tr>
                            <th>Espécie</th>
                            <td>dado</td>
                        </tr>
                        <tr>
                            <th>Origem</th>
                            <td>dado</td>
                        </tr>
                        <tr>
                            <th>Arquétipo</th>
                            <td>dado</td>
                        </tr>
                        <tr>
                            <th>Poderes</th>
                            <td>dado</td>
                        </tr>

                        <tr>
                            <th>Organização</th>
                            <td>dado</td>
                        </tr>
                    </table>
                </div>
            </div>

            <p>Apresentação/ Descrição Prévia do Personagem -
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam possimus fugit sit, ea incidunt voluptatem numquam unde consectetur non doloribus? Reprehenderit vel sit deserunt quam blanditiis adipisci nobis aut deleniti.
            </p>

            <p>Aparições dentro do universo:</p>

            <ul>
                <li>dado</li>
                <li>dado</li>
                <li>dado</li>
            </ul>

        </section>

        <!--Aparência do bicho-->

        <section>
            <h2>Aparência</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>
        </section>

        <!--Personalidade e Psicológico-->

        <section>
            <h2>Personalidade</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>
        </section>

        <!--Relações-->

        <section>
            <h2>Relações</h2>

            <h3>Personagem</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <h3>Personagem</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <h3>Personagem</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>
        </section>

        <!--Seus dias-->

        <section>
            <h2>Seus Dias</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>
        </section>

        <!--Condições de Vida-->

        <section>
            <h2>Condições de Vida</h2>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>
        </section>

        <!--Atributos, Perícias, Habilidades-->

        <section>
            <h2>Aptidões</h2>

            <ul>
                <li>
                    <span>Atributo Avantajado: </span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae minima atque quisquam. Inventore temporibus voluptate incidunt obcaecati. Suscipit aperiam quis officia, possimus eius, perferendis hic illum unde reprehenderit ab nostrum!
                </li>
                <li>
                    <span>Perícia Específica: </span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae minima atque quisquam. Inventore temporibus voluptate incidunt obcaecati. Suscipit aperiam quis officia, possimus eius, perferendis hic illum unde reprehenderit ab nostrum!
                </li>
                <li>
                    <span>Habilidade Especial: </span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae minima atque quisquam. Inventore temporibus voluptate incidunt obcaecati. Suscipit aperiam quis officia, possimus eius, perferendis hic illum unde reprehenderit ab nostrum!
                </li>
            </ul>

        </section>

        <!--Histórico-->

        <section>
            <h2>Histórico</h2>

            <h3>Em tal coisa</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>

            <h3>Em tal coisa</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut laboriosam aspernatur, expedita quasi laudantium nesciunt et incidunt eum, voluptates, enim ducimus nostrum ab dignissimos sunt iste esse magnam dolores reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae suscipit eligendi nisi eveniet dolore consectetur eos! Accusamus, aliquid dolor nesciunt voluptate doloribus quod enim blanditiis consectetur, sapiente ex harum esse!</p>
        </section>

        <!--Curiosidades-->

        <section>
            <h2>Curiosidades</h2>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquid facilis inventore. Tempora repellendus aut dicta numquam aspernatur, vel debitis quas sunt quo quaerat aliquid, exercitationem sint modi eum corporis?</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquid facilis inventore. Tempora repellendus aut dicta numquam aspernatur, vel debitis quas sunt quo quaerat aliquid, exercitationem sint modi eum corporis?</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquid facilis inventore. Tempora repellendus aut dicta numquam aspernatur, vel debitis quas sunt quo quaerat aliquid, exercitationem sint modi eum corporis?</li>
            </ul>
        </section>

    </article>

    <script
    
        src="../JS/script.js">
        
    </script>
    
</body>
</html>